# Environment: local, test, production
NEXT_PUBLIC_APP_ENV=local

# Firebase Configuration (Required for test and production)
NEXT_PUBLIC_FIREBASE_API_KEY=
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=
NEXT_PUBLIC_FIREBASE_PROJECT_ID=
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET=
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=
NEXT_PUBLIC_FIREBASE_APP_ID=
NEXT_PUBLIC_FIREBASE_MEASUREMENT_ID=
FIREBASE_SERVICE_ACCOUNT_KEY=

# ReCaptcha Configuration (Required for test and production)
NEXT_RECAPTCHA_SITE_KEY=
NEXT_RECAPTCHA_SECRET_KEY=

# Clarity Configuration (Required for test and production)
NEXT_PUBLIC_CLARITY_PROJECT_ID=
