[flake8]
per-file-ignores =
    # line too long
    src/icon_generator/utils.py: E501,
    src/icon_generator/generator.py: E501,
    src/main.py: E501,
    tests/test_generator.py: E501,
    tests/test_utils.py: E501